.docWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10000;

  &:hover .docContent {
    display: flex;
  }
}

.docContainer {
  margin: 2cqh 1cqw;
  background-color: #333;
  border: 1px solid #333;
  padding: 0.5cqh 1cqw;
  border-radius: 1.5cqw;
}

.docLink {
  text-decoration: none;
  font-weight: normal;
  font-family: var(--font-family);
  color: var(--text-accent);
}

.docLinkItem {
  composes: docLink;
  width: fit-content;
  display: inline-block;
  background-color: #333;
  border: 1px solid #333;
  padding: 0.5cqh 1cqw;
  border-radius: 1.5cqw;
  margin: 0.25cqh 0;
}

.docContent {
  display: none;
  flex-flow: column-reverse nowrap;
  position: absolute;
  right: 1cqw;
  bottom: 4.5cqh;
  text-align: right;
  border-radius: 0.5cqw;
  align-items: flex-end;
}
