.timeline {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  align-items: center;
}

.timelineItem {
  flex: 1;
  display: inline-flex;
  .timelineItemContentPhantom {
    opacity: 0;
  }
  &:nth-child(odd) {
    &,
    .timelineItemContent {
      flex-direction: column;
    }
  }
  &:nth-child(even) {
    &,
    .timelineItemContent {
      flex-direction: column-reverse;
    }
  }
}

.timelineItemGuide {
  width: 100%;
  padding-top: 2px;
  display: flex;
  flex-flow: row;
  align-items: center;

  svg {
    height: 28px;
    width: 28px;
    path {
      fill: #ffffff;
    }
    margin-right: 4px;
  }
  .timelineItemGuideLine {
    border-top: 4px solid #ffffff;
    margin-right: 4px;
  }
}

.timelineItemContent {
  display: flex;
  padding: 0.7rem 0 1rem 12px;
}

.timelineItemBody {
  &,
  & > * {
    font-size: 1.3rem !important;
    color: #ffffff !important;
  }
}

.timelineItemTitle {
  font-family: Bitter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffffbb;
}
